<!DOCTYPE html>
<html>

<head>

  <title>Chatroom in NodeJS</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
  <ul id="messages"></ul>
  <form action="/" method="POST">
    <input id="txt" autocomplete="off" autofocus="on" placeholder="Write your message" /><button>Send</button>
  </form>
  <br>
  <button onclick="switchRoom()">Switch room</button>
  <script>
    const socket = io.connect('http://127.0.0.1:8080', {
      'forceNew': true
    });
    const MSG_LIMIT = 50;

    let msgcount;

    // submit text message without reload/refresh the page
    $('form').submit(function (e) {
      e.preventDefault(); // prevents page reloading
      socket.emit('chat_message', $('#txt').val());
      $('#txt').val('');
      return false;
    });
    // append the chat text message
    socket.on('chat_message', function (msg) {
      $('#messages').append($('<li>').html(msg[1]).attr('timeStamp', msg[0]));

      //Max msgs limit
      msgcount = $('#messages').children().length;
      if (msgcount > MSG_LIMIT)
        $('#messages').children()[0].remove();


      $('li').sort(function (a, b) {
        a = parseFloat($(a).attr("timestamp"));
        b = parseFloat($(b).attr("timestamp"));
        return a > b ? -1 : a < b ? 1 : 0;
      }).each(function () {
        $('#messages').prepend(this);
      });
    });

    // append text if someone is online
    socket.on('is_online', function (username) {
      $('#messages').append($('<li>').html(username));
    });

    function switchRoom() {
      $('#messages').empty();
      socket.emit('join_room');
    }
  </script>
</body>

</html>