<!DOCTYPE html>
<html>

<head>
  <title>Chatroom in NodeJS</title>
  <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
  <form action="" method="POST" name="loginForm">
    <h3> Please enter your credentials: </h3>
    <input name="user" id="user" autofocus="on" placeholder="Username" />
    <input name="pass" id="pass" autocomplete="off" placeholder="Password" />

    <h4>Generated users: </h4>
    <p>tester:tester </p>
    <p>tester2:tester2</p>

    <p>Post to /user to generate new one</p>
    <button>Send</button>
  </form>
  <script>
    $(document).ready(function () {
      $("form").submit(function () {
        var formData = JSON.stringify($(this).serializeArray());

        $.ajax({
          type: "POST",
          url: "/users/login",
          data: formData,
          complete: function (res) {
            if (res.status == 200) {
              window.location.replace("http://127.0.0.1:8080/chat");
            };
          },
          dataType: "json",
          contentType: "application/json"
        });
        event.preventDefault();
      });
    });
  </script>
</body>

</html>